/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden; /* Desabilita a rolagem no body */
  }
  
  /* Container principal */
  .container {
    display: flex;
    height: 100%;
  }
  
  /* Cabeçalho lateral fixo */
  .header {
    position: fixed; /* Fixa o cabeçalho na lateral */
    width: 350px;
    height: 100%;
    background: #333;
    color: white;
    padding: 1rem;
    overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a tela */
  }
  
  /* Conteúdo principal */
  .main {
    margin-left: 350px; /* Desloca o main para a direita, ao lado do header */
    flex-grow: 1;
    background: #f4f4f4;
    padding: 1rem;
    overflow-y: auto; /* Habilita a rolagem no conteúdo principal */
    height: 100vh; /* Altura fixa para permitir rolagem */
  }
  